---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const ogImageUrl = `${Astro.url.origin}/api/og`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:image" content={ogImageUrl} />
		<meta property="og:type" content="website" />
		<meta
			property="og:description"
			content="Full-Stack Web Developer passionate about React, JavaScript, Node.js, Rust, Go, TypeScript, and SQL. Crafting web applications and CLI tools."
		/>

		<script
			defer
			data-domain="simoneferretti.dev"
			src="https://plausible.rilae.com/js/script.js"></script>
	</head>
	<body>
		<header id="site-header">
			<Navbar />
		</header>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 136, 136;
		--accent-light: 230, 250, 250;
		--accent-light-dimmed: 210, 230, 230;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--background-color: #101010;
	}

	html {
		font-family: system-ui, sans-serif;
		letter-spacing: 0.025rem;
		background: var(--background-color);
	}

	#site-header {
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: #13131355;
		backdrop-filter: blur(15px);
		width: auto;
		place-self: start stretch;
	}

	body {
		margin: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto 1fr auto;
		min-height: 100vh;
		place-items: start center;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	Footer {
		justify-self: center;
		align-self: self-end;
	}
</style>
